body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logout {
    float: right;
}

.topnav {
    overflow: hidden;
    background-color: #333;

}

.subnav {
    overflow: hidden;
    border-bottom: 2px solid #555;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
}

.topnav a:hover,
.subnav a:hover {
    background-color: #ddd;
    color: black;
}


.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: 2px solid white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

.tabcontent {
    display: none;
    width: 100%;
    height: 100%;
}

.search {
    padding: 10px;
    margin: 5px;
    border: 2px solid #777;
    border-radius: 5px;
    width: 200px;
    position: static;
}

#add-book {
    padding: 10px;
    margin: 5px;
    border: 2px solid #777;
    border-radius: 5px;
    width: 150px;
    float: right;
}

#components {
    display: inline;
}

#books {
    margin-left: 5px;
    font-size: 25px;
    font-weight: bold;
    color: #555;
}

.components {
    border-bottom: 4px solid #555;
}

#add{
    border: 2px solid #777;
    border-radius: 5px;
    width: 150px;
    font-size: 25px;
    margin: 0 auto;
}
.hidden{
    display: none;
}
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.addbook-modal{
    background-color: white;
    width: 500px;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 10px;
    margin: 0 auto;
    position: relative;
}

#close{
    color: #333;
    font-size:35px;
    right: 0;
    top: 0;
    padding: 10px;
    position: absolute;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 3px;
    gap:.25em;
}
.form-group > label{
    font-weight: bold;
    font-size: 20px;
    color:#333;
}
.form-group > input{
    font-weight: bold;
    font-size: .8em;
    color:#333;
    border-radius: 2px;
    border: 2px solid #777;
    width: 350px;
    height: 25px;
}

.hidden{
    display: none;
}
#Inventory{
    display: block;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 1500px;
    /* margin: 0 auto; */
    padding: 0 1.5em;
}

.shop-item {
    margin: 30px;
    width: 250px;
    border: 1px solid #333;
}

.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 15px;
}

.shop-item-image {
    height: 250px;
}

.shop-item-details {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.shop-item-price ,.shop-item-quantity {
    flex-grow: 1;
    color: #333;
    margin: 2px;
}
.shop-item-increase,
.shop-item-decrease{
    margin-right: 10px;
    background-color: #555;
    border: 2px solid #555;
    border-radius: 2px;
    color: white;
    font-weight: bold;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.shop-item-description{
    display: block;
}

.section-quantity{
    margin: 10px;
}

.btn-delete{
    margin-right: 10px;
    background-color:#d9534f;
    border: 4px solid #d9534f;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}


#purchase-button,
.btn-buy{
    margin-right: 10px;
    background-color:#333;
    border: 4px solid #333;
    border-radius: 4px;
    color: white;
    font-weight: bold;
} 

table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}





